/*
*/

body {
  margin: 0;
  padding-top: 84px;
  font-size: 16px;
  font-family: "Noto Font KR", Arial, sans-serif;
  background-color: #f8f9fd;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.navbar-container {
  margin: auto;
  padding: 0 16px;
}


/* sm */
@media (min-width: 640px) {

  .container,
  .navbar-container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {

  .container,
  .navbar-container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {

  .container,
  .navbar-container {
    max-width: 1024px;
  }
}

.cloud {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cloud:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.navbar .cloud {
  margin: 20px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
}

.footer .cloud {
  margin: 20px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}