/*
*/

body {
  margin: 0;
  padding-top: 84px;
  font-size: 16px;
  font-family: "Noto Sans KR", Arial, sans-serif;
  background-color: #f5f5f7;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.navbar-container {
  margin: auto;
  padding: 0 16px;
}

.cloud {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}

.cloud:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.navbar .cloud {
  height: 64px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: auto;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .cloud {
  margin: 20px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font-size: small;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {

  .container {
    max-width: 980px;
  }
}