/*
*/

body {
  margin: 0;
  font-family: "Noto Font KR", Arial, sans-serif;
  background-color: aliceblue;
}

.container {
  margin: auto;
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 980px;
  }
}

.cloud {
  margin: 20px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.navbar {
  width: 100%;
  margin: 20px;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.2) !important;
}

.footer {
  width: 100%;
  margin: 20px;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.2) !important;
}