/* 
*/

.border-green {
  border: solid rgb(210, 231, 221);
}

.border-red {
  border: solid rgb(249, 215, 218);
}

.border-blue {
  border: solid rgb(207, 226, 255);
}

.border-yellow {
  border: solid rgb(255, 243, 205);
}

.border-gray {
  border: solid rgb(212, 211, 212);
}

.alert {
  margin: 6px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.table {
  width: 100%;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.table tr {
  height: 2rem;
  border-bottom: 1px solid black;
}

.table>thead {
  border-bottom: 2px solid black;
}

.table>tfoot {
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.progress {
  appearance: none;
}

.progress::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: inset 3px 3px 10px #ccc;
}

.progress::-webkit-progress-value {
  border-radius: 8px;
  background: #1d5697;
  background: -webkit-linear-gradient(to right, #93d5f9, #1d5697);
  background: linear-gradient(to right, #93d5f9, #1d5697);
}

input {
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--button-bg-color);
  color: var(--button-color);

  margin: 0;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrap-none {
  flex-wrap: nowrap;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wrap-none::-webkit-scrollbar {
  display: none;
}

.w-100\% {
  width: 100%;
}

.w-90\% {
  width: 90%;
}

.w-80\% {
  width: 80%;
}

.w-70\% {
  width: 70%;
}

.w-60\% {
  width: 60%;
}

.w-50\% {
  width: 50%;
}

.w-40\% {
  width: 30%;
}

.w-30\% {
  width: 30%;
}

.w-20\% {
  width: 20%;
}

.w-10\% {
  width: 10%;
}

.md\:hidden {
  visibility: hidden;
}

.list-none {
  list-style: none;
  padding: 0;
}

.m-0 {
  margin: 0;
}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {
  .md\:hidden {
    visibility: visible;
  }

  .row {
    flex-wrap: nowrap;
  }
}

/* lg */
@media (min-width: 1024px) {}