/*
- snowcloud.css
    - snowcloud-desiigner
    - snowcloud-utilities
    - snowcloud-text
*/

@charset 'utf-8';
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import 'snowcloud-desiigner.css';
@import 'snowcloud-utilities.css';
@import 'snowcloud-text.css';


body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Noto Font KR", Arial, sans-serif;
    background-color: rgba(8, 47, 100, 0.1);
}



.sky {
    width: 100%;
}

/* 모바일 */
@media (min-width: 768px) {
    .sky {
        max-width: 640px;
    }
}

/* 태블릿 */
@media (min-width: 1024px) {
    .sky {
        max-width: 768px;
    }
}

/* PC */
@media (min-width: 1280px) {
    .sky {
        max-width: 1140px;
    }
}

.cloud {
    margin: 20px;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.2) !important;
}

.navbar {
    position: fixed;
}

.footer {
    display: table;
    margin: auto;
}
