.alert {
    margin: 6px;
    padding: 16px;
    min-height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.table {
    width: 100%;
    border-bottom: 1px solid black;
    border-collapse:collapse;
}

.table > thead {
    border-bottom: 3px solid black;
}

.table-even > tbody > tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}
