.green {
    background-color: lightgreen;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: lightyellow;
}

.gray {
    background-color: lightgrey;
}